<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleapp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB5A403626AE3CD200EF4CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5A405126AE3CD300EF4CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB5A405C26AE3CD300EF4CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
